@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   min-height: 100vh;
   font-family: 'League Spartan', sans-serif;
}
